/***************************************
* Created by: Misty Dela Cruz
* Created on: 2/7/2024
* Last Modified: 3/12/2024
* Updates:
* Styling the webpage as needed
***************************************/

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.left-side {
  background-color: rgba(226, 231, 255, 1);
  width: 50%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left-content{
  background-color: white;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 75%;
  text-align: left;
  padding: 1%;
  border-radius: 5px;
}

p {
  font-size: 25px;
}

p strong strong{
  color: rgba(128, 81, 255, 1);
}

.register p {
  font-size: 20px;
  padding-top: 2em;
  padding-bottom: 1em;
}

em {
  color: rgba(128, 81, 255, 1);
  text-decoration: underline;
}

.first-button {
  display: flex;
  /* background-color: blue; */
  padding-top: 3em;
  padding-bottom: 3em;
}

.sec-button {
  display: flex;
  /* background-color: aquamarine; */
  padding-bottom: 3em;
}